//@import "nib"
@import "fonts"

// REDS
red =           #F16665
red-dkr =       #E25758
red-ltr =       #F6ACAC
red-text =      #D64546

// BLUES
blue =          #53CDEC
blue-dkr =      #42b8d7
blue-ltr =      #c3eef8
blue-text =     #19aacf
blue-ts =       #7BDCF5
blue-teal =     #187086

// navys
navy =          #103a51

// slates
slate =         #364550
slate-dkr =     #2a363e
slate-ltr =     #3e515e
slate-text =    #28353e


// GREYS
grey =          #899CA9
grey-dkr =      #6F7F89
grey-ltr =      #8BA1B0
grey-text =     #778a99

// GREENS
green =         #69af04

// whites
white =         #ffffff
white-ltr =     #f0f3f6
white-dkr =     #c2d2dc

//typesafe together
slate-tt =      #354854


//default border-radius
br = 3px
header-size = 40px

body, html
	height: 100%
	width: 100%

*
	margin: 0
	padding: 0
	outline: 0
	border: 0
	list-style-type: none
	box-sizing: border-box

body
	font: 20px "Source Sans Pro", "Open Sans","Helvetica Neue",sans-serif
	background: blue
	color: grey-text
	-webkit-font-smoothing: antialiased
	-webkit-font-size-adjust: none

p
	margin: .7em 0
	line-height: 1.3em

a
	color: #fff

h1, h2, h3, h4
	color: navy

.button,
input[type='submit']
	transition: all 200ms ease-in-out
	display: block
	font: inherit
	background: red
	text-decoration: none
	padding: 10px 20px
	border-radius: br
	text-align: center
	width: 300px
	box-shadow: 0 3px 0 red-dkr
	text-shadow: 1px 1px 1px rgba(0,0,0,.1)
	text-transform: uppercase
	font-weight: 700
	cursor: pointer
	color: white
	&:hover
		background-color: red-dkr


nav
	position: fixed
	z-index: 9999
	top: 50px
	right: 50px
	background: navy
	width: 250px
	border-bottom: 2px solid black
	border-radius: br
	a
		font-size: 20px
		font-weight: 600
		padding: 10px 30px
		display: block
		color: white
		text-decoration: none
		cursor: pointer
		&:hover
			background: blue-dkr
	.big
		font-weight: 700
		font-size: 30px
		padding: 20px 30px
		border-bottom: 2px solid rgba(white-ltr, .2)

section
	min-height: 100%
	position: relative
	padding: 80px 330px 80px 80px
	&:after
		content: ' '
		display: block
		clear: both

#home
	background: url(../images/map.svg) center right no-repeat
	background-size: contain
	margin-bottom: 100px

#logo
	position: absolute
	top: 50px
	left: 80px
	h1
		margin: 0
		font-size: 100px
		font-weight: 500
		color: white
	strong
		color: red
		font-weight: 700
	p
		position: absolute
		left: 0
		top: 110px
		font-size: 30px
		color: white
		margin: 0

#home article
	position: absolute
	left: 80px
	top: 250px
	width: 500px


#about
	padding-top: 0
	padding-left: 0
	background: white-ltr
	color: navy
	background: white-ltr url(../images/berlin-skyline.svg) no-repeat 790px bottom

	.clouds
		background: blue url(../images/clouds-alt.png) no-repeat 0 bottom
		background-size: 740px 188px
		background-size: 1996px 188px
		height: 210px
		margin-top: -178px
		margin-top: 0
		width: 100%
		position: absolute

	article
		max-width: 680px
		padding-left: 80px
		
	h1
		font-size: header-size
		padding-top: 240px
		color: navy
		

#speakers
	h1
		margin: 0 0 20px 0
		font-size: header-size
	h2
		font-size: 25px
		color: blue-text
	article
		padding: 20px 150px 20px 30px
		border-bottom: 2px solid white-dkr
		max-width: 800px
		margin: 40px 0
		color: navy
		background-color: white-ltr
		border-radius: br
		position: relative
		> img
			border-radius: 200px
			border: 10px solid white-ltr
			position: absolute
			right: -25px
			top: -25px
			width: 150px
		ul:before
			content: "Talks:"
		li
			padding: 0 20px
		a 
			color: slate-dkr

.all-speakers
	@extend .button
	margin: 20px 0
	color: white

#schedule
	background: blue-dkr

#buy
	text-align: center
	min-height: 10px
	background: slate
	h1
		color: white
		margin: 0 0 20px
.buy-button
	@extend .button
	margin: 0 auto

#venue
	background: grey-dkr
	padding: 0

#map 
	width: 100%
	height: 100%

#address
	width: 300px
	background: red
	position: absolute
	top: 80px
	left: 80px
	padding: 20px
	color: white
	z-index: 8888

#sponsors
	background: white
	text-align: left
	header h1
		font-size: header-size
		color: navy
		margin-bottom: 0
	article
		text-align: center
		margin: 50px 0
		h2
			color: white
			font-weight: 400
			font-size: 20px
			text-transform: uppercase
			background-color: blue
			padding: 10px
			border-radius: br
			

	img
		background: transparent
		padding: 20px
		max-height: 100px
		max-width: 200px

#contact
	background: slate-dkr
	h1
		color: blue
		font-size: header-size
		margin-bottom: 0.7em


	form
		text-align: center
		max-width: 680px

	input[type="text"],
	textarea
		display: block
		border: 1px solid #fff
		width: 300px
		margin: 0 auto .5em auto
		height: 40px
		line-height: 30px
		padding: 4px 10px
		font-size: 1em
		background-color: slate-ltr
		color: white-dkr
		border-color: grey
		border-radius: br

	textarea
		height: 200px

	fieldset input[type="text"]
		float: left
		margin: 0 2% .5em 2%
		width: 48%

	fieldset input[type="text"]:first-child
		margin: 0 2% .5em 0

	fieldset input[type="text"]:last-child
		margin: 0 0 .5em 2%

	fieldset textarea
		width: 100%
		margin: 0 0 .5em 0%



@import "schedule"
