#rooms
	background: white-ltr
	height: 50px
	line-height: 50px
	padding: 0 350px 0 0
	position: absolute
	top: 80px
	width: 100%
	z-index: 1111
	&.fixed
		position: fixed
		top: 0
	&.after
		top: auto
		bottom: 60px
	.wrapper
		height: 50px
		position: relative
		z-index: 1
	span
		display: block
		position: absolute
		top: 0
		left: 0
		width: 25%
		height: inherit
		background: white
		transition: all 200ms ease-in-out
		&:before
			content: ">"
			left: 10px
			position: absolute
			font-weight: 700
			color: red
		&:after
			content: "<"
			right: 10px
			position: absolute
			font-weight: 700
			color: red
		@media (min-width: 961px)
			width: 50%
		@media (min-width: 1201px)
			width: 75%
		@media (min-width: 1441px)
			width: 100%
		.off-1 &
			left: 25%
		.off-2 &
			left: 50%
		.off-3 &
			left: 75%
	ul
		position: relative
		z-index: 3
	li
		position: relative
		width: 25%
		text-align: center
		float: left
		z-index: 1
		text-transform: uppercase
		font-weight: 700
		cursor: pointer

#schedule #details
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: auto
	font-size: 16px
	background: slate
	z-index: 11111
	display: none
	padding: 80px
	h2
		color: white
		padding: 0
		line-height: 30px
		font-size: 30px

#schedule
	padding: 0
	position: relative
	font-size: 14px
	overflow: hidden

	&:after
		content: " "
		position: absolute
		top: 87px
		right: 0
		bottom: 0
		width 350px
		background: rgba(blue-ltr, .8)

	h1
		padding: 0 80px
		height: 80px
		line-height: 80px
		margin-bottom: 50px

	h2
		color: white
		line-height: 60px
		margin: 0
		font-size: 20px
		text-align: left

	h3
		color: white
		line-height: 20px
		font-size: 20px
		margin: 5px 0

	.day 
		position: relative

		header 
			position: absolute
			top: 0
			width: 100%
			padding: 0 80px
			height: 60px
			background: red
			color: white
			z-index: 999
			transform: translate3d(0,0,0)
			box-shadow: 0 4px rgba(0,0,0,.1)

			&.fixed 
				position: fixed
				top: 50px
				width: 100%

			&.after
				position: absolute
				bottom: 0px
				top: auto

	aside 
		position: absolute
		top: 60px
		left: 0
		bottom: 0
		width: 150px
		background: blue-ltr url(../images/time-schedule2.png) right -51px repeat-y
		background: rgba(blue-ltr, .8)
		z-index: 99

		.time 
			color: #e25651
			position: absolute
			right: 40px
			font-weight: 900
			font-size: 20px
			margin-top: -17px

	.tracks
		position: absolute
		top: 60px
		right: 350px
		bottom: 0
		left: 151px

		> div
			position: absolute
			padding: 5px 8px
			border: 1px solid blue-dkr

	.keynote 
		background: slate-ltr
		color: grey-ltr
		width: 100%
		@media (max-width: 1440px)
			width: 133.3333%
		@media (max-width: 1200px)
			width: 200%


	.track 
		width: 25%
		transition: all 200ms ease-in-out
		background: blue
		color: white-ltr
		cursor: pointer
		@media (max-width: 1440px)
			width: 33.3333%
		@media (max-width: 1200px)
			width: 50%
		@media (max-width: 960px)
			width: 100%
		&:hover
			background: slate
		&:before
			color: navy
			font-weight: 700
			text-transform: uppercase
			font-size: 12px
			
	.track.room1 
		left: 0
		&:before
			content: "theatre"
			
	.track.room2 
		left: 25%
		&:before
			content: "room 1"

	.track.room3 
		left: 50%
		&:before
			content: "room 2"

	.track.room4
		left: 75%
		&:before
			content: "hands on"

	@media (max-width: 1440px)
		.track.room1 
			left: 0
		.track.room2 
			left: 33.3333%
		.track.room3 
			left: 66.6666%
		.track.room4
			left: 100%
	@media (max-width: 1200px)
		.track.room1 
			left: 0
		.track.room2 
			left: 50%
		.track.room3 
			left: 100%
		.track.room4
			left: 150%
	@media (max-width: 960px)
		.track.room1 
			left: 0
		.track.room2 
			left: 100%
		.track.room3 
			left: 200%
		.track.room4
			left: 300%

	&.off-1
		.track
			transform: translateX(-100%)
	&.off-2
		.track
			transform: translateX(-200%)
	&.off-3
		.track
			transform: translateX(-300%)


	.tracks .speaker
		display: block
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		font-weight: 400
		color: navy

	.tracks .speakersbio 
		display: block
		color: #8a2420
		-webkit-transition: all 200ms ease-in-out
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	    padding-top: 5px
		margin-right: 70px

