@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGC7eGk4PJkA83J1AXCmgUfc.woff") format('woff');
}
body,
html {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 20px "Source Sans Pro", "Open Sans", "Helvetica Neue", sans-serif;
  background: #53cdec;
  color: #778a99;
  -webkit-font-smoothing: antialiased;
  -webkit-font-size-adjust: none;
}
p {
  margin: 0.7em 0;
  line-height: 1.3em;
}
a {
  color: #fff;
}
h1,
h2,
h3,
h4 {
  color: #103a51;
}
.button,
input[type='submit'],
.all-speakers,
.buy-button {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: block;
  font: inherit;
  background: #f16665;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  width: 300px;
  -webkit-box-shadow: 0 3px 0 #e25758;
  box-shadow: 0 3px 0 #e25758;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
.button:hover,
input[type='submit']:hover,
.all-speakers:hover,
.buy-button:hover {
  background-color: #e25758;
}
nav {
  position: fixed;
  z-index: 9999;
  top: 50px;
  right: 50px;
  background: #103a51;
  width: 250px;
  border-bottom: 2px solid #000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
nav a {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 30px;
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
nav a:hover {
  background: #42b8d7;
}
nav .big {
  font-weight: 700;
  font-size: 30px;
  padding: 20px 30px;
  border-bottom: 2px solid rgba(240,243,246,0.2);
}
section {
  min-height: 100%;
  position: relative;
  padding: 80px 330px 80px 80px;
}
section:after {
  content: ' ';
  display: block;
  clear: both;
}
#home {
  background: url("../images/map.svg") center right no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin-bottom: 100px;
}
#logo {
  position: absolute;
  top: 50px;
  left: 80px;
}
#logo h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 500;
  color: #fff;
}
#logo strong {
  color: #f16665;
  font-weight: 700;
}
#logo p {
  position: absolute;
  left: 0;
  top: 110px;
  font-size: 30px;
  color: #fff;
  margin: 0;
}
#home article {
  position: absolute;
  left: 80px;
  top: 250px;
  width: 500px;
}
#about {
  padding-top: 0;
  padding-left: 0;
  background: #f0f3f6;
  color: #103a51;
  background: #f0f3f6 url("../images/berlin-skyline.svg") no-repeat 790px bottom;
}
#about .clouds {
  background: #53cdec url("../images/clouds-alt.png") no-repeat 0 bottom;
  -webkit-background-size: 740px 188px;
  -moz-background-size: 740px 188px;
  background-size: 740px 188px;
  -webkit-background-size: 1996px 188px;
  -moz-background-size: 1996px 188px;
  background-size: 1996px 188px;
  height: 210px;
  margin-top: -178px;
  margin-top: 0;
  width: 100%;
  position: absolute;
}
#about article {
  max-width: 680px;
  padding-left: 80px;
}
#about h1 {
  font-size: 40px;
  padding-top: 240px;
  color: #103a51;
}
#speakers h1 {
  margin: 0 0 20px 0;
  font-size: 40px;
}
#speakers h2 {
  font-size: 25px;
  color: #19aacf;
}
#speakers article {
  padding: 20px 150px 20px 30px;
  border-bottom: 2px solid #c2d2dc;
  max-width: 800px;
  margin: 40px 0;
  color: #103a51;
  background-color: #f0f3f6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
#speakers article > img {
  -webkit-border-radius: 200px;
  border-radius: 200px;
  border: 10px solid #f0f3f6;
  position: absolute;
  right: -25px;
  top: -25px;
  width: 150px;
}
#speakers article ul:before {
  content: "Talks:";
}
#speakers article li {
  padding: 0 20px;
}
#speakers article a {
  color: #2a363e;
}
.all-speakers {
  margin: 20px 0;
  color: #fff;
}
#schedule {
  background: #42b8d7;
}
#buy {
  text-align: center;
  min-height: 10px;
  background: #364550;
}
#buy h1 {
  color: #fff;
  margin: 0 0 20px;
}
.buy-button {
  margin: 0 auto;
}
#venue {
  background: #6f7f89;
  padding: 0;
}
#map {
  width: 100%;
  height: 100%;
}
#address {
  width: 300px;
  background: #f16665;
  position: absolute;
  top: 80px;
  left: 80px;
  padding: 20px;
  color: #fff;
  z-index: 8888;
}
#sponsors {
  background: #fff;
  text-align: left;
}
#sponsors header h1 {
  font-size: 40px;
  color: #103a51;
  margin-bottom: 0;
}
#sponsors article {
  text-align: center;
  margin: 50px 0;
}
#sponsors article h2 {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #53cdec;
  padding: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#sponsors img {
  background: transparent;
  padding: 20px;
  max-height: 100px;
  max-width: 200px;
}
#contact {
  background: #2a363e;
}
#contact h1 {
  color: #53cdec;
  font-size: 40px;
  margin-bottom: 0.7em;
}
#contact form {
  text-align: center;
  max-width: 680px;
}
#contact input[type="text"],
#contact textarea {
  display: block;
  border: 1px solid #fff;
  width: 300px;
  margin: 0 auto 0.5em auto;
  height: 40px;
  line-height: 30px;
  padding: 4px 10px;
  font-size: 1em;
  background-color: #3e515e;
  color: #c2d2dc;
  border-color: #899ca9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#contact textarea {
  height: 200px;
}
#contact fieldset input[type="text"] {
  float: left;
  margin: 0 2% 0.5em 2%;
  width: 48%;
}
#contact fieldset input[type="text"]:first-child {
  margin: 0 2% 0.5em 0;
}
#contact fieldset input[type="text"]:last-child {
  margin: 0 0 0.5em 2%;
}
#contact fieldset textarea {
  width: 100%;
  margin: 0 0 0.5em 0%;
}
#rooms {
  background: #f0f3f6;
  height: 50px;
  line-height: 50px;
  padding: 0 350px 0 0;
  position: absolute;
  top: 80px;
  width: 100%;
  z-index: 1111;
}
#rooms.fixed {
  position: fixed;
  top: 0;
}
#rooms.after {
  top: auto;
  bottom: 60px;
}
#rooms .wrapper {
  height: 50px;
  position: relative;
  z-index: 1;
}
#rooms span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: inherit;
  background: #fff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
@media (min-width: 961px) {
  #rooms span {
    width: 50%;
  }
}
@media (min-width: 1201px) {
  #rooms span {
    width: 75%;
  }
}
@media (min-width: 1441px) {
  #rooms span {
    width: 100%;
  }
}
.off-1 #rooms span {
  left: 25%;
}
.off-2 #rooms span {
  left: 50%;
}
.off-3 #rooms span {
  left: 75%;
}
#rooms ul {
  position: relative;
  z-index: 3;
}
#rooms li {
  position: relative;
  width: 25%;
  text-align: center;
  float: left;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
#schedule #details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  font-size: 16px;
  background: #364550;
  z-index: 11111;
  display: none;
  padding: 80px;
}
#schedule #details h2 {
  color: #fff;
  padding: 0;
  line-height: 30px;
  font-size: 30px;
}
#schedule {
  padding: 0;
  position: relative;
  font-size: 14px;
  overflow: hidden;
}
#schedule:after {
  content: " ";
  position: absolute;
  top: 87px;
  right: 0;
  bottom: 0;
  width: 350px;
  background: rgba(195,238,248,0.6);
}
#schedule h1 {
  padding: 0 80px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 50px;
}
#schedule h2 {
  color: #fff;
  line-height: 60px;
  margin: 0;
  font-size: 20px;
  text-align: left;
}
#schedule h3 {
  color: #fff;
  line-height: 20px;
  font-size: 20px;
  margin: 5px 0;
}
#schedule .day {
  position: relative;
}
#schedule .day header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 80px;
  height: 60px;
  background: #f16665;
  color: #fff;
  z-index: 999;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 4px rgba(0,0,0,0.1);
  box-shadow: 0 4px rgba(0,0,0,0.1);
}
#schedule .day header.fixed {
  position: fixed;
  top: 50px;
  width: 100%;
}
#schedule .day header.after {
  position: absolute;
  bottom: 0px;
  top: auto;
}
#schedule aside {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 150px;
  background: #c3eef8 url("../images/time-schedule2.png") right -51px repeat-y;
  background: rgba(195,238,248,0.6);
  z-index: 99;
}
#schedule aside .time {
  color: #e25651;
  position: absolute;
  right: 40px;
  font-weight: 900;
  font-size: 20px;
  margin-top: -17px;
}
#schedule .tracks {
  position: absolute;
  top: 60px;
  right: 350px;
  bottom: 0;
  left: 151px;
}
#schedule .tracks > div {
  position: absolute;
  padding: 5px 8px;
  border: 1px solid #42b8d7;
}
#schedule .keynote {
  background: #3e515e;
  color: #8ba1b0;
  width: 100%;
}
@media (max-width: 1440px) {
  #schedule .keynote {
    width: 133.3333%;
  }
}
@media (max-width: 1200px) {
  #schedule .keynote {
    width: 200%;
  }
}
#schedule .track {
  width: 25%;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background: #53cdec;
  color: #f0f3f6;
  cursor: pointer;
}
@media (max-width: 1440px) {
  #schedule .track {
    width: 33.3333%;
  }
}
@media (max-width: 1200px) {
  #schedule .track {
    width: 50%;
  }
}
@media (max-width: 960px) {
  #schedule .track {
    width: 100%;
  }
}
#schedule .track:hover {
  background: #364550;
}
#schedule .track.room1 {
  left: 0;
}
#schedule .track.room2 {
  left: 25%;
}
#schedule .track.room3 {
  left: 50%;
}
#schedule .track.room4 {
  left: 75%;
}
@media (max-width: 1440px) {
  #schedule .track.room1 {
    left: 0;
  }
  #schedule .track.room2 {
    left: 33.3333%;
  }
  #schedule .track.room3 {
    left: 66.6666%;
  }
  #schedule .track.room4 {
    left: 100%;
  }
}
@media (max-width: 1200px) {
  #schedule .track.room1 {
    left: 0;
  }
  #schedule .track.room2 {
    left: 50%;
  }
  #schedule .track.room3 {
    left: 100%;
  }
  #schedule .track.room4 {
    left: 150%;
  }
}
@media (max-width: 960px) {
  #schedule .track.room1 {
    left: 0;
  }
  #schedule .track.room2 {
    left: 100%;
  }
  #schedule .track.room3 {
    left: 200%;
  }
  #schedule .track.room4 {
    left: 300%;
  }
}
#schedule.off-1 .track {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
#schedule.off-2 .track {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
}
#schedule.off-3 .track {
  -webkit-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -o-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  transform: translateX(-300%);
}
#schedule .tracks .speaker {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#schedule .tracks .speakersbio {
  display: block;
  color: #8a2420;
  -webkit-transition: all 200ms ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#schedule padding-top: 5px {
  margin-right: 70px;
}
