*
	margin: 0
	padding: 0
	box-sizing: border-box
html, body
	margin: 0
	padding: 0
	height: 100%
	background: scala-slate

body
	padding: 0
	margin: 0
	font-weight: 400
	font-style: normal
	line-height: 1
	position: relative
	cursor: default
	color: scala-slate
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-smoothing: antialiased
	-webkit-font-size-adjust: none
	text-rendering: optimizeLegibility
.off-canvas-content
	> article, > footer
		padding: 1rem 0 3rem 0	
		@media mediumOn
			padding: 2rem 0 4rem 0
		@media largeOn
			padding: 3rem 0 5rem 0
		&.intro
			padding: 0
			background: scala-red url("../images/berlin.jpg") no-repeat
			background-position: top center
			background-size: cover
			@media mediumOn
				background: scala-red url("../images/berlin-medium.jpg") no-repeat
				background-position: top center
				background-size: cover
			@media largeOn
				background: scala-red url("../images/berlin-large.jpg") no-repeat
				background-position: top center
				background-size: cover
			&.new-york
				background: scala-red url("../images/new-york.jpg") no-repeat
				background-position: top center
				background-size: cover
				@media mediumOn
					background: scala-red url("../images/new-york-medium.jpg") no-repeat
					background-position: top center
					background-size: cover
				@media largeOn
					background: scala-red url("../images/new-york-large.jpg") no-repeat
					background-position: top center
					background-size: cover
			.emboss
				padding: 6rem 0
				width: 100%
				height: 100%
				
				background-size: 10% auto
				@media mediumOn
					background: transparent url("../images/scala-element-reverse-emboss.svg") no-repeat
					background-position: bottom right 
					background-size: auto 110%
					padding: 1rem 0 5rem 0
				@media largeOn
					background-size: auto 160%
					padding: 4rem 0 13rem 0
			.logo
				max-width: 30rem
				margin: 2rem 0 4rem 0
				@media largeOn
					max-width: 40rem
			h1
				margin-bottom: 1.25rem
				font-size: 1.5rem
				@media mediumOn
					font-size: 1.5rem
					font-weight: 400
				@media largeOn
					font-size: 2.5rem
					font-weight: 300
			h4
				margin-bottom: 1.25rem
			&.event-intro, &.cfp-intro
				.logo
					margin: 2rem 0 0rem 0
			&.global, &.cfp-intro
				background: scala-red
			&.cfp-intro .emboss
				@media largeOn
					padding: 4rem 0 6rem 0



h1,h2,h3
	font-weight: 400
	color: scala-red
	@media mediumOn
		font-weight: 300
h4
	font-weight: 700
	font-size: 1.125rem
	text-transform: uppercase
	.scala-blue &
		color: darken(scala-blue, 30)

p 
	a
		color: scala-blue
		font-weight: 700
		border-bottom: 2px solid lighten(scala-blue, 30)
		&:hover
			color: darken(scala-blue, 20)
			border-bottom: 2px solid lighten(scala-blue, 10)
li
	margin-bottom: .375rem
.legal
	line-height: 1.5
	font-size: 0.689rem
	opacity: .7
	font-weight: 700
	


		
.link-list a
	margin-bottom: .5rem
.white
	background: white
.scala-red
	background: scala-red
	h1,h2,h3,h4,h5,h6,p,li
		color: white
	a
		color: white
		font-weight: 700
		border-bottom: 2px solid lighten(scala-red, 15)
		display: inline-block
		&:hover
			color: darken(scala-red, 30)
			border-bottom: 2px solid lighten(scala-red, 40)
.scala-black
	background: scala-black
	h1,h2,h3,h4,h5,h6,p,li
		color: white
.scala-blue
	background: scala-blue
	h1,h2,h3,h5,h6,p,li
		color: white
	a
		color: white
		font-weight: 700
		border-bottom: 2px solid lighten(scala-blue, 15)
		display: inline-block
		&:hover
			color: darken(scala-blue, 30)
			border-bottom: 2px solid lighten(scala-blue, 40)
.scala-slate
	background: scala-slate
	h1
		color: scala-blue
	h2,h3,h4,h5,h6,p,li
		color: white
	a
		color: white
		font-weight: 700
		border-bottom: 2px solid lighten(scala-blue, 15)
		display: inline-block
		&:hover
			color: darken(scala-blue, 30)
			border-bottom: 2px solid lighten(scala-blue, 40)
.corner-element
	background-image: url("../images/scala-element-reverse.svg")
	background-repeat: no-repeat
	background-position: bottom right
	background-size: 10%

.hosted img
	max-width: 16rem
	margin: 0 0 3rem 0
.schedule
	z-index: 9999
	position: relative
	
.program-committee .profile-pics
	margin-top: 2rem
	color: white
	img
		border-radius: 1000px
		max-width: 10rem
		float: left
		margin: 0rem 1rem 0rem 0
		border: 2px solid white
	strong
		color: scala-red
	.profile
		margin: 0 0 5rem 0
		@media mediumOn
			margin-left: 11rem
	h2
		margin: 0
		color: scala-red
	h3
		font-size: 1.25rem
		font-weight: 700
		opacity: .7

.venue
	position: relative
	min-height: 500px
	#map 
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		z-index: 9
	.panel
		position: absolute
		z-index: 999
		background: scala-slate
		color: white
		padding: 1.5rem
		width: 95%
		@media mediumOn
			width: auto
			margin: 0 0 0 -1.5rem
		h1
			color: scala-red
	.google-map
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0