.button, a.button
	background: darken(scala-blue, 12)
	border-radius: 0px
	border: 1px solid rgba(white, 1)
	padding: 1rem 1.125rem
	width: 100%
	font-weight: 700

	@media mediumOn
		width: auto
	&:hover
		background-color: scala-red
		border: 1px solid rgba(white, 1)
	.scala-red &
		background: darken(scala-red, 12)
		&:hover
			background-color: darken(scala-red, 20)
			
		