.sponsors
	h3
		font-weight: 700
		font-size: 1.125rem
		text-transform: uppercase
		background: scala-blue
		color: white
		padding: .875rem
		margin: 4rem 0 1rem 0
		border: 0px solid scala-blue
		background-image: url("../images/scala-element-reverse.svg")
		background-repeat: no-repeat
		background-position: bottom -1px right -1px
		background-size: 6%
	img
		margin-bottom: 2rem