mediumOn = "only screen and (min-width: 40.063em)"
largeOn = "only screen and (min-width: 64.063em)" //1025
xlargeOn = "only screen and (min-width: 80.063em)" //1281
xxlargeOn = "only screen and (min-width: 90.063em)" //1441
xxxlargeOn = "only screen and (min-width: 120.063em)" //1921

scala-red =         #de3423
scala-black =		#380d09
scala-blue =		#39BAD8
scala-slate =		#364550

br = 3px